/* Base Styles */

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 8px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Button Styles */

.button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button1 {
  background-color: #4caf50;
  color: white;
}

.button1:hover {
  background-color: #45a049;
}

/* Additional Styling */

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

h1 {
  text-align: center;
}

/* Success Message Styling */

p.success {
  color: #008000;
  font-weight: bold;
}
